*{
    box-sizing: inherit;
}
body{
   box-sizing: border-box; 
   margin: 0;
   padding: 0px;
   max-width: 1600px;
}
a {
    text-decoration: none;
}
.page-header{
   background-color:white; 
}
.navigation-link{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font: size 14px;
    line-height: 17px;
    color: #20242D;
}
.active-nav-link{
    color: #FF7129;
}
.header-wrapper-contacts{
    background-color: #20242D;
    color:#FFFFFF ;
}
.contact-link{
    color: #FFFFFF;
    font-family:'Gilroy',sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.header-address{
    color: #FFFFFF;
    font-family:'Gilroy',sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.welcome-section{
    background-color: #5a6a81;
    width: 1600px;
    height: 844px;
}
.main-title{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    text-align: center;
    color: #FFFFFF;
}
.welcome-text{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.button{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px; 
    line-height: 17px;
    text-align: center;
    background-color: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    width: 187px;
    height: 49px;
    color: #FFFFFF;
}
.title{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    position: absolute;
    width: 700px;
    height: 47px;
    left: 882px;
    top: 1136px;
}
.text-container{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    position: absolute;
    width: 535px;
    height: 216px;
    left: 865px;
    top: 1247px;
}
.page-footer{
background-color:#20242D; ;
}
.navigation-link-footer{
    font-family:'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.active-footer-link{
    color: #FF7129;
}
.legal-info{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #7B7E85;
}
 .button-footer{
    background: #20242D;
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FF7129;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 28px rgba(255, 113, 41, 0.67));
 }
 .line{
    background: #7B7E85;
    opacity: 0.3;
    width: 1500px;
    height: 1px;
    left: 50px;
    top: 144px;
 }
 .title-on-background{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #FFFFFF;
 }
.section-about{
    width: 1600px;
    height: 350px;
    left: 0px;
    top: 91px;
    background: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3);
    mix-blend-mode: multiply;
    opacity: 0.9;
}
.title-place{
    position: absolute;
    width: 130px;
    height: 47px;
  /*  left: 217px;*/
   /* top: 291px;*/
}
.thick-font{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.foto-comment{
    font-family:'Gilroy',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #20242D;
}
.attributes{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
}
.attributes-font{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
}
.telefon-font{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
}
.navigation-list{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.navigation-list li{
    margin-right: 56px;

}
.navigation-list li:last-child{
margin: 0;
}
.header-wrapper{
   display: flex; 
   justify-content: space-between;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 12px;
   padding-bottom: 7px;
   align-items: center;
}
.header-wrapper-contacts{
    justify-content: flex-start;
}
.header-address{
    margin-right: auto;
}
.contact-link:first-of-type{
    margin-right: 56px;
}
.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}
.main-title{
    margin:  0px;
}
.welcome-text{
       margin-top: 16px;
       margin-bottom: 59px;
}
.info-section{
    display: flex;
    justify-content: space-between;
}
.text-container{
    display: flex;
}
.text-container:last-child{
    align-items: flex-end;
    margin-right: 200px;
    margin-top: 64px;
    margin-bottom: 319px;
}
.img-wrapper{
    margin-top: 132px;
    margin-left: 134px;
    margin-bottom: 115px;
}
.navigation-list-footer{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.navigation-list-footer li{
    margin-right: 56px;
}
.footer-wrapper{
    display: flex; 
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 66px;
    padding-bottom:124px;
    align-items: center;
    }
.legal-info {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 24px;
    list-style: none;
}
.title-on-background-title-place{
width: 130px;
height: 47px;
margin-bottom: 103px;
margin-left: 217px;
margin-right: 1253px;
}
.text-about{
    display: flex;
}